/* typography */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #172A3A;
}

h1, h2 {
  margin-bottom: 1.25rem;
  font-family: "Montserrat", sans-serif;
}

h1::after, h2::after {
  display: block;
  content: '';
  margin-top: 1.3125rem;
  width: 10.25rem;
  height: 2px;
  background-color: #F3625E;
}

@media screen and (max-width: 767px) {
  h1::after, h2::after {
    margin-left: auto;
    margin-right: auto;
    width: 5.25rem;
  }
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.09375;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.23;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.375;
}

@media screen and (max-width: 991px) {
  p {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 1rem;
  }
}

a {
  color: #172A3A;
}

a:hover, a:active {
  color: #091015;
}

.dark-section {
  color: #fff;
  background-color: #172A3A;
}

.second-color {
  color: #F3625E;
}

.btn-signup {
  padding: 1.15625rem 3.25rem 1.15625rem 7.25rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.389;
  color: #fff;
  letter-spacing: 0.25px;
  border-radius: 1.875rem;
  background: #F3625E url("data:image/svg+xml,%3Csvg width='41' height='34' viewBox='0 0 41 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.9623 22.0868L32.7413 34L40.7062 0L0 16.0119L12.3864 20.1146L34.992 4.95147L16.9623 22.0868Z' fill='white'/%3E%3Cpath d='M12.3862 20.1147L15.7786 32.322L16.9621 22.0868L34.9918 4.95148L12.3862 20.1147Z' fill='%23D2D2D7'/%3E%3Cpath d='M22.0905 25.9587L15.7788 32.322L16.9623 22.0869L22.0905 25.9587Z' fill='%23B9B9BE'/%3E%3C/svg%3E") left 3rem center no-repeat;
}

.btn-signup:hover {
  color: #fff;
  background-color: #ef342f;
}

@media screen and (max-width: 767px) {
  .btn-signup {
    padding: 0.907rem 2.013rem;
    font-size: 0.875rem;
    background-image: none;
  }
}

/* navigation */
.main-header {
  border-bottom: 2px solid #F0F5FA;
}

.main-header .navbar {
  height: 68px;
}

.main-header .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.21;
}

.main-header .navbar-toggler {
  position: relative;
  width: 24px;
  height: 16px;
  border: 0;
  outline: none;
}

.main-header .dropdown {
  margin-left: 1.875rem;
  padding-right: 1.1925rem;
}

.main-header .dropdown-toggle {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375;
  text-transform: uppercase;
}

.main-header .dropdown-toggle::after {
  position: absolute;
  top: 4px;
  width: 15px;
  height: 15px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.854 6.01788L7.50002 9.6639' stroke='%23172A3A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 9.66394L11.146 6.01794' stroke='%23172A3A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
  background-size: 15px;
}

.main-header .dropdown-menu {
  min-width: auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.main-header .dropdown-item {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .main-header .navbar-collapse {
    position: absolute;
    top: 0px;
    margin-top: 70px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }
  .main-header .navbar-collapse.show {
    min-height: calc(100vh - 70px);
  }
}

.header-nav .nav-item {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.header-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
  color: #172A3A;
}

.header-nav .nav-link:hover, .header-nav .nav-link:active {
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .header-nav .nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .header-nav {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .header-nav::after {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 5.25rem;
    height: 2px;
    background: #F3625E;
  }
}

.lang-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  padding-bottom: 3.75rem;
}

.lang-switch .lang-item {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.357;
  text-transform: uppercase;
}

.lang-switch .lang-item.current {
  color: #F3625E;
}

/* mobile opener button */
.nav-opener {
  position: absolute;
  width: 24px;
  height: 16px;
  top: 0;
  left: 0;
  border-radius: 0;
  background: transparent;
}

.nav-opener:before, .nav-opener:after,
.nav-opener span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 0;
  background: #F3625E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-opener:before {
  content: '';
  top: 7px;
}

.nav-opener:after {
  content: '';
  top: 14px;
}

.navbar-toggler[aria-expanded="true"] .nav-opener {
  height: 24px;
}

.navbar-toggler[aria-expanded="true"] .nav-opener span {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .nav-opener:before {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .nav-opener:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.hero {
  padding-top: 6.8125rem;
  padding-bottom: 6.8125rem;
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 2.3125rem;
    padding-bottom: 2.5rem;
    text-align: center;
  }
}

.hero-title {
  padding-top: 1.75rem;
}

.hero-subtitle {
  max-width: 30rem;
}

@media screen and (max-width: 767px) {
  .hero-subtitle {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.hero-signup {
  padding-top: 4.4375rem;
}

@media screen and (max-width: 767px) {
  .hero-signup {
    padding-top: 0.75rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 767px) {
  .hero-img img {
    max-width: 8.75rem;
  }
}
/*# sourceMappingURL=main.css.map */