/* typography */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  color: #172A3A;
}

h1, h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.09375;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.23;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.375;
}

a {
  color: #172A3A;
}

a:hover, a:active {
  color: #091015;
}

.dark-section {
  color: #fff;
  background-color: #172A3A;
}

/* navigation */
.main-header .navbar {
  height: 70px;
}

.main-header .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.21;
}

.main-header .navbar-toggler {
  position: relative;
  width: 24px;
  height: 16px;
  border: 0;
  outline: none;
}

.main-header .dropdown {
  margin-left: 1.875rem;
  padding-right: 1.1925rem;
}

.main-header .dropdown-toggle {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375;
  text-transform: uppercase;
}

.main-header .dropdown-toggle::after {
  position: absolute;
  top: 4px;
  width: 15px;
  height: 15px;
  border: none;
  background: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.854 6.01788L7.50002 9.6639' stroke='%23172A3A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 9.66394L11.146 6.01794' stroke='%23172A3A' stroke-width='2.02' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") center no-repeat;
  background-size: 15px;
}

.main-header .dropdown-menu {
  min-width: auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.main-header .dropdown-item {
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.375;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .main-header .navbar-collapse {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    z-index: 10;
  }
}

.header-nav .nav-item {
  padding-left: 1.875rem;
  padding-right: 1.875rem;
}

.header-nav .nav-link {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375;
  color: #172A3A;
}

.header-nav .nav-link:hover, .header-nav .nav-link:active {
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .header-nav .nav-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 991px) {
  .header-nav {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .header-nav::after {
    position: absolute;
    content: '';
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 5.25rem;
    height: 2px;
    background: #F3625E;
  }
}

/* mobile opener button */
.nav-opener {
  position: absolute;
  width: 24px;
  height: 16px;
  top: 0;
  left: 0;
  border-radius: 0;
  background: transparent;
}

.nav-opener:before, .nav-opener:after,
.nav-opener span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 0;
  background: #F3625E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-opener:before {
  content: '';
  top: 7px;
}

.nav-opener:after {
  content: '';
  top: 14px;
}

.navbar-toggler[aria-expanded="true"] .nav-opener {
  height: 24px;
}

.navbar-toggler[aria-expanded="true"] .nav-opener span {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .nav-opener:before {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .nav-opener:after {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*# sourceMappingURL=main.css.map */