.hero {
  padding-top: 6.8125rem;
  padding-bottom: 6.8125rem;

  @include until($md) {
    padding-top: 2.3125rem;
    padding-bottom: 2.5rem;
    text-align: center;
  }
}

.hero-title {
  padding-top: 1.75rem;
}

.hero-subtitle {
  max-width: 30rem;

  @include until($md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.hero-signup {
  padding-top: 4.4375rem;

  @include until($md) {
    padding-top: 0.75rem;
    padding-bottom: 3.5rem;
  }
}

.hero-img {
  @include until($md) {
    img {
      max-width: 8.75rem;
    }
  }
}