// media query breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// used fonts
$main-font: 'Open Sans', sans-serif;
$title-font: 'Montserrat', sans-serif;

// colors
$main-color: #172A3A;
$dark-color: #fff;
$second-color: #F3625E;

